
.head{
	font-family:monospace;
	font-size: 250px;
	color: red;
}



.row {
	display: flex;
	/*justify-content: space-around;*/
}

.container image{
	width:50%;
	height:auto;
}
.item {display: flex;
		-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw;
}